*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

table{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(223, 223, 223);
}

table tr td{
    width: 50px;
    height: 50px;
    border: 1px solid gainsboro;
    text-align: center;
    font-size: 24px;
}
table tr td:hover{
    background: gray;
}
button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
}
button:hover{
    background: crimson;
}
